<h2>Atom</h2>
<p>Текстовый редактор для программистов.</p>
<p>Достоинства:</p>
<ul>
    <li>поддержка практически всех языков, используемых в промышленном
        программировании;</li>
    <li>удобные клавиатурные комбинации;</li>
    <li>огромное количество расширений;</li>
    <li>удобные средства для установки расширений и управления
        ими;</li>
    <li>широкие возможности настройки (включая темы оформления).</li>
</ul>
<p>Недостатки:</p>
<ul>
    <li>некоторые полезные инструменты изначально отсутствуют
        (исправляется расширениями);</li>
    <li>очень большой объем;</li>
    <li>низкое быстродействие на больших файлах.</li>
</ul>
<p><a href="https://atom.io/">Официальный сайт</a></p>
