<h2>Visual Studio Code</h2>
<p>Текстовый редактор для программистов.</p>
<p>Достоинства:</p>
<ul>
    <li>развитые инструменты для написания программного кода;</li>
    <li>&laquo;умная&raquo; подстановка языковых конструкций;</li>
    <li>интеграция с исполняющими средами (Google Chrome, PHP,
        Node.js и др.);</li>
    <li>встроенный полнофункциональный отладчик;</li>
    <li>большое количество расширений;</li>
    <li>удобные средства для установки расширений и управления
        ими;</li>
    <li>широкие возможности настройки (включая темы оформления).</li>
</ul>
<p>Недостатки:</p>
<ul>
    <li>не очень удобные клавиатурные комбинации;</li>
    <li>довольно большой объем;</li>
    <li>не очень высокое быстродействие на больших файлах.</li>
</ul>
<p><a href="https://code.visualstudio.com/">Официальный сайт</a></p>
